@media  (max-width: 768px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style0 {
background-image: linear-gradient(180deg,#066bff 0%,#01b8ff 100%);
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 667px;
flex-direction: column;}
.artboard1container0row0 {
display: flex;
margin-left: 39px;
margin-top: 50px;
width: 310px;
height: 25px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlpcl.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 27px;
height: 100%;
align-self: stretch;}
.style8 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 96px;
margin-top: 11px;
width: 8px;
height: 8px;}
.style9 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 13px;
margin-top: 11px;
width: 8px;
height: 8px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 13px;
margin-top: 11px;
width: 8px;
height: 8px;}
.style7 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtloyq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 111px;
width: 25px;
height: 100%;
align-self: stretch;}
.artboard1container0row1 {
display: flex;
margin-left: 19px;
margin-top: 11px;
width: 295px;
height: 0px;
align-items: stretch;}
.style12 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 0.6875em;
margin-left: 0px;}
.style6 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 0.6875em;
margin-left: 295px;}
.style4 {
color: rgba(199,231,253,0.3019607961177826);
font-family: 'arial',serif;
font-size: 1.1875em;
margin-left: 57px;
margin-top: 57px;
height: 0px;}
.style5 {
color: rgba(199,231,253,0.7490196228027344);
font-family: 'arial',serif;
font-size: 1.1875em;
margin-left: 117px;
margin-top: 30px;
height: 0px;}
.style2 {
background-color: #5cc1ff;
border-top-left-radius: 81px;
border-top-right-radius: 81px;
border-bottom-left-radius: 81px;
border-bottom-right-radius: 81px;
display: flex;
margin-top: 56px;
width: 159px;
height: 159px;
align-self: center;
flex-direction: column;
justify-content: center;}
.style3 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtloo4.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 32px;
width: 98px;
height: 105px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlogz.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 85px;
width: 59px;
height: 59px;
align-self: center;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style18 {
background-color: #0088ff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 309px;
flex-direction: column;}
.style24 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1em;
margin-left: 153px;
margin-top: 43px;
height: 0px;
flex-shrink: 0;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlpyq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 341px;
margin-top: 2px;
width: 18px;
height: 18px;
flex-shrink: 0;}
.artboard2container1row2 {
display: flex;
margin-top: 8px;
width: 51px;
height: 8px;
align-items: stretch;
align-self: center;
flex-shrink: 0;
justify-content: space-between;}
.style21 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 8px;}
.style23 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 8px;}
.style22 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 8px;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlpry.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.5019607843137255);
position: relative;
margin-top: 18px;
width: 205px;
height: 301px;
align-self: center;
flex-shrink: 0;}
.style13 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 1px;
width: 375px;
height: 357px;
flex-direction: column;}
.style17 {
color: #fe5511;
font-family: 'arial',serif;
font-size: 1.3125em;
margin-left: 128px;
margin-top: 127px;
height: 0px;}
.style16 {
color: #202020;
font-family: 'arial',serif;
font-size: 0.9375em;
margin-left: 99px;
margin-top: 40px;
height: 0px;}
.style14 {
background-color: #0088ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
display: flex;
margin-top: 45px;
width: 188px;
height: 49px;
align-self: center;
flex-direction: column;}
.style15 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 0.875em;
margin-left: 58px;
margin-top: 19px;
height: 0px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style30 {
background-color: #0088ff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 309px;
flex-direction: column;}
.style36 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1em;
margin-left: 153px;
margin-top: 43px;
height: 0px;
flex-shrink: 0;}
.style32 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlrdk.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 341px;
margin-top: 2px;
width: 18px;
height: 18px;
flex-shrink: 0;}
.artboard3container1row2 {
display: flex;
margin-top: 8px;
width: 51px;
height: 8px;
align-items: stretch;
align-self: center;
flex-shrink: 0;
justify-content: space-between;}
.style33 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 8px;}
.style35 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 8px;}
.style34 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 8px;}
.style31 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlr5l.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
margin-top: 18px;
width: 201px;
height: 303px;
align-self: center;
flex-shrink: 0;}
.style25 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 1px;
width: 375px;
height: 357px;
flex-direction: column;}
.style29 {
color: #6655cc;
font-family: 'arial',serif;
font-size: 1.3125em;
margin-left: 97px;
margin-top: 127px;
height: 0px;}
.style28 {
color: #202020;
font-family: 'arial',serif;
font-size: 0.9375em;
margin-left: 99px;
margin-top: 40px;
height: 0px;}
.style26 {
background-color: #0088ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
display: flex;
margin-top: 45px;
width: 188px;
height: 49px;
align-self: center;
flex-direction: column;}
.style27 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 0.875em;
margin-left: 58px;
margin-top: 19px;
height: 0px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style67 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 237px;
flex-direction: column;}
.artboard4container14row0 {
display: flex;
margin-left: 16px;
margin-top: 24px;
width: 125px;
height: 18px;}
.style72 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlurm.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 18px;
height: 100%;
align-self: stretch;}
.style71 {
color: #202020;
font-family: 'arial',serif;
font-size: 1em;
margin-left: 108px;
margin-top: 4px;
height: 0px;}
.artboard4container14row1 {
display: flex;
margin-top: 14px;
width: 50px;
height: 8px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style70 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 8px;}
.style68 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 8px;}
.style69 {
background-color: #0088ff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 8px;}
.style73 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtluxn.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 155px;
margin-top: 37px;
width: 67px;
height: 64px;}
.style74 {
color: #0086ff;
font-family: 'arial',serif;
font-size: 0.8125em;
margin-left: 147px;
margin-top: 33px;
height: 0px;}
.style63 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 49px;
flex-direction: column;
justify-content: center;}
.artboard4container12row0 {
display: flex;
margin-left: 16px;
width: 267px;
height: 21px;}
.style66 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtluf1.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 21px;
height: 100%;
align-self: stretch;}
.style65 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 0.9375em;
margin-left: 9px;
margin-top: 5px;
height: 0px;}
.style64 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 1em;
margin-left: 237px;
margin-top: 5px;
height: 0px;}
.style59 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 334px;
flex-direction: column;}
.style60 {
background-color: #0086ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-top: 5px;
width: 309px;
height: 42px;
align-self: center;
flex-direction: column;
justify-content: center;}
.artboard4container10btnprimaryfullrow0 {
display: flex;
margin-left: 106px;
width: 28px;
height: 15px;}
.style61 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlu2e.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 13px;
height: 100%;
align-self: stretch;}
.style62 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 0.9375em;
margin-left: 15px;
margin-top: 2px;
height: 0px;}
.artboard4container10row1 {
display: flex;
margin-top: 135px;
width: 247px;
height: 60px;
align-self: flex-end;}
.style58 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtltr8.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 60px;
height: 100%;
align-self: stretch;}
.style56 {
color: #757575;
font-family: 'arial',serif;
font-size: 0.8125em;
margin-left: 18px;
margin-top: 27px;
height: 0px;}
.style57 {
color: #202020;
font-family: 'arial',serif;
font-size: 1em;
margin-left: 0px;
margin-top: 2px;
height: 0px;}
.style55 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 0.6875em;
margin-left: 79px;
margin-top: 47px;
height: 0px;}
.style53 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlta5.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 159px;
width: 9px;
height: 11px;
align-self: center;}
.artboard4container10row2 {
display: flex;
margin-top: 34px;
width: 247px;
height: 60px;
align-self: flex-end;}
.style51 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlt09.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 60px;
height: 100%;
align-self: stretch;}
.style49 {
color: #757575;
font-family: 'arial',serif;
font-size: 0.8125em;
margin-left: 18px;
margin-top: 27px;
height: 0px;}
.style50 {
color: #202020;
font-family: 'arial',serif;
font-size: 1em;
margin-left: 0px;
margin-top: 2px;
height: 0px;}
.style48 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 0.6875em;
margin-left: 79px;
margin-top: 47px;
height: 0px;}
.style46 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlsiq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 159px;
margin-top: 23px;
width: 9px;
height: 11px;}
.style37 {
background-color: #242424;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 50px;
flex-direction: column;}
.style43 {
color: #202020;
font-family: 'arial',serif;
font-size: 1em;
margin-left: 207px;
margin-top: 40px;
height: 0px;}
}@media  (min-width: 768px)  and  (max-width: 920px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style0 {
background-image: linear-gradient(180deg,#066bff 0%,#01b8ff 100%);
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 1366px;
flex-direction: column;}
.artboard1container0row0 {
display: flex;
margin-left: 80px;
margin-top: 102px;
width: 635px;
height: 51px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlpcl.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 55px;
height: 100%;
align-self: stretch;}
.style8 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 197px;
margin-top: 23px;
width: 16px;
height: 16px;}
.style9 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 27px;
margin-top: 23px;
width: 16px;
height: 16px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 27px;
margin-top: 23px;
width: 16px;
height: 16px;}
.style7 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtloyq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 227px;
width: 51px;
height: 100%;
align-self: stretch;}
.artboard1container0row1 {
display: flex;
margin-left: 39px;
margin-top: 23px;
width: 604px;
height: 0px;
align-items: stretch;}
.style12 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.408em;
margin-left: 0px;}
.style6 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.408em;
margin-left: 604px;}
.style4 {
color: rgba(199,231,253,0.3019607961177826);
font-family: 'arial',serif;
font-size: 2.432em;
margin-left: 117px;
margin-top: 117px;
height: 0px;}
.style5 {
color: rgba(199,231,253,0.7490196228027344);
font-family: 'arial',serif;
font-size: 2.432em;
margin-left: 240px;
margin-top: 61px;
height: 0px;}
.style2 {
background-color: #5cc1ff;
border-top-left-radius: 81px;
border-top-right-radius: 81px;
border-bottom-left-radius: 81px;
border-bottom-right-radius: 81px;
display: flex;
margin-top: 115px;
width: 326px;
height: 326px;
align-self: center;
flex-direction: column;
justify-content: center;}
.style3 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtloo4.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 66px;
width: 201px;
height: 215px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlogz.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 174px;
width: 121px;
height: 121px;
align-self: center;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style18 {
background-color: #0088ff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 633px;
flex-direction: column;}
.style24 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.048em;
margin-left: 313px;
margin-top: 88px;
height: 0px;
flex-shrink: 0;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlpyq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 698px;
margin-top: 4px;
width: 37px;
height: 37px;
flex-shrink: 0;}
.artboard2container1row2 {
display: flex;
margin-top: 16px;
width: 104px;
height: 16px;
align-items: stretch;
align-self: center;
flex-shrink: 0;
justify-content: space-between;}
.style21 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 16px;}
.style23 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 16px;}
.style22 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 16px;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlpry.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.5019607843137255);
position: relative;
margin-top: 37px;
width: 420px;
height: 616px;
align-self: center;
flex-shrink: 0;}
.style13 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 2px;
width: 768px;
height: 731px;
flex-direction: column;}
.style17 {
color: #fe5511;
font-family: 'arial',serif;
font-size: 2.688em;
margin-left: 262px;
margin-top: 260px;
height: 0px;}
.style16 {
color: #202020;
font-family: 'arial',serif;
font-size: 1.92em;
margin-left: 203px;
margin-top: 82px;
height: 0px;}
.style14 {
background-color: #0088ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
display: flex;
margin-top: 92px;
width: 385px;
height: 100px;
align-self: center;
flex-direction: column;}
.style15 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.792em;
margin-left: 119px;
margin-top: 39px;
height: 0px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style30 {
background-color: #0088ff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 633px;
flex-direction: column;}
.style36 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.048em;
margin-left: 313px;
margin-top: 88px;
height: 0px;
flex-shrink: 0;}
.style32 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlrdk.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 698px;
margin-top: 4px;
width: 37px;
height: 37px;
flex-shrink: 0;}
.artboard3container1row2 {
display: flex;
margin-top: 16px;
width: 104px;
height: 16px;
align-items: stretch;
align-self: center;
flex-shrink: 0;
justify-content: space-between;}
.style33 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 16px;}
.style35 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 16px;}
.style34 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 16px;}
.style31 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlr5l.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
margin-top: 37px;
width: 412px;
height: 621px;
align-self: center;
flex-shrink: 0;}
.style25 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 2px;
width: 768px;
height: 731px;
flex-direction: column;}
.style29 {
color: #6655cc;
font-family: 'arial',serif;
font-size: 2.688em;
margin-left: 199px;
margin-top: 260px;
height: 0px;}
.style28 {
color: #202020;
font-family: 'arial',serif;
font-size: 1.92em;
margin-left: 203px;
margin-top: 82px;
height: 0px;}
.style26 {
background-color: #0088ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
display: flex;
margin-top: 92px;
width: 385px;
height: 100px;
align-self: center;
flex-direction: column;}
.style27 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.792em;
margin-left: 119px;
margin-top: 39px;
height: 0px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style67 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 485px;
flex-direction: column;}
.artboard4container14row0 {
display: flex;
margin-left: 33px;
margin-top: 49px;
width: 256px;
height: 37px;}
.style72 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlurm.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 37px;
height: 100%;
align-self: stretch;}
.style71 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.048em;
margin-left: 221px;
margin-top: 8px;
height: 0px;}
.artboard4container14row1 {
display: flex;
margin-top: 29px;
width: 102px;
height: 16px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style70 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 16px;}
.style68 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 16px;}
.style69 {
background-color: #0088ff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 16px;}
.style73 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtluxn.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 317px;
margin-top: 76px;
width: 137px;
height: 131px;}
.style74 {
color: #0086ff;
font-family: 'arial',serif;
font-size: 1.6640000000000001em;
margin-left: 301px;
margin-top: 68px;
height: 0px;}
.style63 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 100px;
flex-direction: column;
justify-content: center;}
.artboard4container12row0 {
display: flex;
margin-left: 33px;
width: 547px;
height: 43px;}
.style66 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtluf1.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 43px;
height: 100%;
align-self: stretch;}
.style65 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 1.92em;
margin-left: 18px;
margin-top: 10px;
height: 0px;}
.style64 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 2.048em;
margin-left: 485px;
margin-top: 10px;
height: 0px;}
.style59 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 684px;
flex-direction: column;}
.style60 {
background-color: #0086ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-top: 10px;
width: 633px;
height: 86px;
align-self: center;
flex-direction: column;
justify-content: center;}
.artboard4container10btnprimaryfullrow0 {
display: flex;
margin-left: 217px;
width: 57px;
height: 31px;}
.style61 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlu2e.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 27px;
height: 100%;
align-self: stretch;}
.style62 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 1.92em;
margin-left: 31px;
margin-top: 4px;
height: 0px;}
.artboard4container10row1 {
display: flex;
margin-top: 276px;
width: 506px;
height: 123px;
align-self: flex-end;}
.style58 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtltr8.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 123px;
height: 100%;
align-self: stretch;}
.style56 {
color: #757575;
font-family: 'arial',serif;
font-size: 1.6640000000000001em;
margin-left: 37px;
margin-top: 55px;
height: 0px;}
.style57 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.048em;
margin-left: 0px;
margin-top: 4px;
height: 0px;}
.style55 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.408em;
margin-left: 162px;
margin-top: 96px;
height: 0px;}
.style53 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlta5.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 326px;
width: 18px;
height: 23px;
align-self: center;}
.artboard4container10row2 {
display: flex;
margin-top: 70px;
width: 506px;
height: 123px;
align-self: flex-end;}
.style51 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlt09.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 123px;
height: 100%;
align-self: stretch;}
.style49 {
color: #757575;
font-family: 'arial',serif;
font-size: 1.6640000000000001em;
margin-left: 37px;
margin-top: 55px;
height: 0px;}
.style50 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.048em;
margin-left: 0px;
margin-top: 4px;
height: 0px;}
.style48 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.408em;
margin-left: 162px;
margin-top: 96px;
height: 0px;}
.style46 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlsiq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 326px;
margin-top: 47px;
width: 18px;
height: 23px;}
.style37 {
background-color: #242424;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 102px;
flex-direction: column;}
.style43 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.048em;
margin-left: 424px;
margin-top: 82px;
height: 0px;}
}@media  (min-width: 920px)  and  (max-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style0 {
background-image: linear-gradient(180deg,#066bff 0%,#01b8ff 100%);
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 1636px;
flex-direction: column;}
.artboard1container0row0 {
display: flex;
margin-left: 96px;
margin-top: 123px;
width: 761px;
height: 61px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlpcl.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 66px;
height: 100%;
align-self: stretch;}
.style8 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 236px;
margin-top: 27px;
width: 20px;
height: 20px;}
.style9 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 32px;
margin-top: 27px;
width: 20px;
height: 20px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 32px;
margin-top: 27px;
width: 20px;
height: 20px;}
.style7 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtloyq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 272px;
width: 61px;
height: 100%;
align-self: stretch;}
.artboard1container0row1 {
display: flex;
margin-left: 47px;
margin-top: 27px;
width: 724px;
height: 0px;
align-items: stretch;}
.style12 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.6866666666666665em;
margin-left: 0px;}
.style6 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.6866666666666665em;
margin-left: 724px;}
.style4 {
color: rgba(199,231,253,0.3019607961177826);
font-family: 'arial',serif;
font-size: 2.913333333333333em;
margin-left: 140px;
margin-top: 140px;
height: 0px;}
.style5 {
color: rgba(199,231,253,0.7490196228027344);
font-family: 'arial',serif;
font-size: 2.913333333333333em;
margin-left: 287px;
margin-top: 74px;
height: 0px;}
.style2 {
background-color: #5cc1ff;
border-top-left-radius: 81px;
border-top-right-radius: 81px;
border-bottom-left-radius: 81px;
border-bottom-right-radius: 81px;
display: flex;
margin-top: 137px;
width: 390px;
height: 390px;
align-self: center;
flex-direction: column;
justify-content: center;}
.style3 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtloo4.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 79px;
width: 240px;
height: 258px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlogz.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 209px;
width: 145px;
height: 145px;
align-self: center;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style18 {
background-color: #0088ff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 758px;
flex-direction: column;}
.style24 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.453333333333333em;
margin-left: 375px;
margin-top: 105px;
height: 0px;
flex-shrink: 0;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlpyq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 837px;
margin-top: 5px;
width: 44px;
height: 44px;
flex-shrink: 0;}
.artboard2container1row2 {
display: flex;
margin-top: 20px;
width: 125px;
height: 20px;
align-items: stretch;
align-self: center;
flex-shrink: 0;
justify-content: space-between;}
.style21 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 20px;}
.style23 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 20px;}
.style22 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 20px;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlpry.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.5019607843137255);
position: relative;
margin-top: 44px;
width: 503px;
height: 738px;
align-self: center;
flex-shrink: 0;}
.style13 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 2px;
width: 920px;
height: 876px;
flex-direction: column;}
.style17 {
color: #fe5511;
font-family: 'arial',serif;
font-size: 3.2199999999999998em;
margin-left: 314px;
margin-top: 312px;
height: 0px;}
.style16 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.3em;
margin-left: 243px;
margin-top: 98px;
height: 0px;}
.style14 {
background-color: #0088ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
display: flex;
margin-top: 110px;
width: 461px;
height: 120px;
align-self: center;
flex-direction: column;}
.style15 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.1466666666666665em;
margin-left: 142px;
margin-top: 47px;
height: 0px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style30 {
background-color: #0088ff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 758px;
flex-direction: column;}
.style36 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.453333333333333em;
margin-left: 375px;
margin-top: 105px;
height: 0px;
flex-shrink: 0;}
.style32 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlrdk.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 837px;
margin-top: 5px;
width: 44px;
height: 44px;
flex-shrink: 0;}
.artboard3container1row2 {
display: flex;
margin-top: 20px;
width: 125px;
height: 20px;
align-items: stretch;
align-self: center;
flex-shrink: 0;
justify-content: space-between;}
.style33 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 20px;}
.style35 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 20px;}
.style34 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 20px;}
.style31 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlr5l.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
margin-top: 44px;
width: 493px;
height: 743px;
align-self: center;
flex-shrink: 0;}
.style25 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 2px;
width: 920px;
height: 876px;
flex-direction: column;}
.style29 {
color: #6655cc;
font-family: 'arial',serif;
font-size: 3.2199999999999998em;
margin-left: 238px;
margin-top: 312px;
height: 0px;}
.style28 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.3em;
margin-left: 243px;
margin-top: 98px;
height: 0px;}
.style26 {
background-color: #0088ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
display: flex;
margin-top: 110px;
width: 461px;
height: 120px;
align-self: center;
flex-direction: column;}
.style27 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.1466666666666665em;
margin-left: 142px;
margin-top: 47px;
height: 0px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style67 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 581px;
flex-direction: column;}
.artboard4container14row0 {
display: flex;
margin-left: 39px;
margin-top: 59px;
width: 307px;
height: 44px;}
.style72 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlurm.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 44px;
height: 100%;
align-self: stretch;}
.style71 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.453333333333333em;
margin-left: 265px;
margin-top: 10px;
height: 0px;}
.artboard4container14row1 {
display: flex;
margin-top: 34px;
width: 123px;
height: 20px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style70 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 20px;}
.style68 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 20px;}
.style69 {
background-color: #0088ff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 20px;}
.style73 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtluxn.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 380px;
margin-top: 91px;
width: 164px;
height: 157px;}
.style74 {
color: #0086ff;
font-family: 'arial',serif;
font-size: 1.9933333333333332em;
margin-left: 361px;
margin-top: 81px;
height: 0px;}
.style63 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 120px;
flex-direction: column;
justify-content: center;}
.artboard4container12row0 {
display: flex;
margin-left: 39px;
width: 655px;
height: 52px;}
.style66 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtluf1.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 52px;
height: 100%;
align-self: stretch;}
.style65 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 2.3em;
margin-left: 22px;
margin-top: 12px;
height: 0px;}
.style64 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 2.453333333333333em;
margin-left: 581px;
margin-top: 12px;
height: 0px;}
.style59 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 819px;
flex-direction: column;}
.style60 {
background-color: #0086ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-top: 12px;
width: 758px;
height: 103px;
align-self: center;
flex-direction: column;
justify-content: center;}
.artboard4container10btnprimaryfullrow0 {
display: flex;
margin-left: 260px;
width: 69px;
height: 37px;}
.style61 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlu2e.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 32px;
height: 100%;
align-self: stretch;}
.style62 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 2.3em;
margin-left: 37px;
margin-top: 5px;
height: 0px;}
.artboard4container10row1 {
display: flex;
margin-top: 331px;
width: 606px;
height: 147px;
align-self: flex-end;}
.style58 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtltr8.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 147px;
height: 100%;
align-self: stretch;}
.style56 {
color: #757575;
font-family: 'arial',serif;
font-size: 1.9933333333333332em;
margin-left: 44px;
margin-top: 66px;
height: 0px;}
.style57 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.453333333333333em;
margin-left: 0px;
margin-top: 5px;
height: 0px;}
.style55 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.6866666666666665em;
margin-left: 194px;
margin-top: 115px;
height: 0px;}
.style53 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlta5.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 390px;
width: 22px;
height: 27px;
align-self: center;}
.artboard4container10row2 {
display: flex;
margin-top: 83px;
width: 606px;
height: 147px;
align-self: flex-end;}
.style51 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlt09.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 147px;
height: 100%;
align-self: stretch;}
.style49 {
color: #757575;
font-family: 'arial',serif;
font-size: 1.9933333333333332em;
margin-left: 44px;
margin-top: 66px;
height: 0px;}
.style50 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.453333333333333em;
margin-left: 0px;
margin-top: 5px;
height: 0px;}
.style48 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.6866666666666665em;
margin-left: 194px;
margin-top: 115px;
height: 0px;}
.style46 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlsiq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 390px;
margin-top: 56px;
width: 22px;
height: 27px;}
.style37 {
background-color: #242424;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 123px;
flex-direction: column;}
.style43 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.453333333333333em;
margin-left: 508px;
margin-top: 98px;
height: 0px;}
}@media  (min-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style0 {
background-image: linear-gradient(180deg,#066bff 0%,#01b8ff 100%);
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 2134px;
flex-direction: column;}
.artboard1container0row0 {
display: flex;
margin-left: 125px;
margin-top: 160px;
width: 992px;
height: 80px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlpcl.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 86px;
height: 100%;
align-self: stretch;}
.style8 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 307px;
margin-top: 35px;
width: 26px;
height: 26px;}
.style9 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 42px;
margin-top: 35px;
width: 26px;
height: 26px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 42px;
margin-top: 35px;
width: 26px;
height: 26px;}
.style7 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtloyq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 355px;
width: 80px;
height: 100%;
align-self: stretch;}
.artboard1container0row1 {
display: flex;
margin-left: 61px;
margin-top: 35px;
width: 944px;
height: 0px;
align-items: stretch;}
.style12 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.2em;
margin-left: 0px;}
.style6 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.2em;
margin-left: 944px;}
.style4 {
color: rgba(199,231,253,0.3019607961177826);
font-family: 'arial',serif;
font-size: 3.8000000000000003em;
margin-left: 182px;
margin-top: 182px;
height: 0px;}
.style5 {
color: rgba(199,231,253,0.7490196228027344);
font-family: 'arial',serif;
font-size: 3.8000000000000003em;
margin-left: 374px;
margin-top: 96px;
height: 0px;}
.style2 {
background-color: #5cc1ff;
border-top-left-radius: 81px;
border-top-right-radius: 81px;
border-bottom-left-radius: 81px;
border-bottom-right-radius: 81px;
display: flex;
margin-top: 179px;
width: 509px;
height: 509px;
align-self: center;
flex-direction: column;
justify-content: center;}
.style3 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtloo4.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 102px;
width: 314px;
height: 336px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlogz.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 272px;
width: 189px;
height: 189px;
align-self: center;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style18 {
background-color: #0088ff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 989px;
flex-direction: column;}
.style24 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 3.2em;
margin-left: 490px;
margin-top: 138px;
height: 0px;
flex-shrink: 0;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlpyq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 1091px;
margin-top: 6px;
width: 58px;
height: 58px;
flex-shrink: 0;}
.artboard2container1row2 {
display: flex;
margin-top: 26px;
width: 163px;
height: 26px;
align-items: stretch;
align-self: center;
flex-shrink: 0;
justify-content: space-between;}
.style21 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 26px;}
.style23 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 26px;}
.style22 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 26px;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlpry.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.5019607843137255);
position: relative;
margin-top: 58px;
width: 656px;
height: 963px;
align-self: center;
flex-shrink: 0;}
.style13 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 3px;
width: 1200px;
height: 1142px;
flex-direction: column;}
.style17 {
color: #fe5511;
font-family: 'arial',serif;
font-size: 4.2em;
margin-left: 410px;
margin-top: 406px;
height: 0px;}
.style16 {
color: #202020;
font-family: 'arial',serif;
font-size: 3em;
margin-left: 317px;
margin-top: 128px;
height: 0px;}
.style14 {
background-color: #0088ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
display: flex;
margin-top: 144px;
width: 602px;
height: 157px;
align-self: center;
flex-direction: column;}
.style15 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.8000000000000003em;
margin-left: 186px;
margin-top: 61px;
height: 0px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style30 {
background-color: #0088ff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 989px;
flex-direction: column;}
.style36 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 3.2em;
margin-left: 490px;
margin-top: 138px;
height: 0px;
flex-shrink: 0;}
.style32 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlrdk.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 1091px;
margin-top: 6px;
width: 58px;
height: 58px;
flex-shrink: 0;}
.artboard3container1row2 {
display: flex;
margin-top: 26px;
width: 163px;
height: 26px;
align-items: stretch;
align-self: center;
flex-shrink: 0;
justify-content: space-between;}
.style33 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 26px;}
.style35 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 26px;}
.style34 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 26px;}
.style31 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlr5l.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
margin-top: 58px;
width: 643px;
height: 970px;
align-self: center;
flex-shrink: 0;}
.style25 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 3px;
width: 1200px;
height: 1142px;
flex-direction: column;}
.style29 {
color: #6655cc;
font-family: 'arial',serif;
font-size: 4.2em;
margin-left: 310px;
margin-top: 406px;
height: 0px;}
.style28 {
color: #202020;
font-family: 'arial',serif;
font-size: 3em;
margin-left: 317px;
margin-top: 128px;
height: 0px;}
.style26 {
background-color: #0088ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
display: flex;
margin-top: 144px;
width: 602px;
height: 157px;
align-self: center;
flex-direction: column;}
.style27 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.8000000000000003em;
margin-left: 186px;
margin-top: 61px;
height: 0px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style67 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 758px;
flex-direction: column;}
.artboard4container14row0 {
display: flex;
margin-left: 51px;
margin-top: 77px;
width: 400px;
height: 58px;}
.style72 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlurm.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 58px;
height: 100%;
align-self: stretch;}
.style71 {
color: #202020;
font-family: 'arial',serif;
font-size: 3.2em;
margin-left: 346px;
margin-top: 13px;
height: 0px;}
.artboard4container14row1 {
display: flex;
margin-top: 45px;
width: 160px;
height: 26px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style70 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 26px;}
.style68 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 26px;}
.style69 {
background-color: #0088ff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 26px;}
.style73 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtluxn.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 496px;
margin-top: 118px;
width: 214px;
height: 205px;}
.style74 {
color: #0086ff;
font-family: 'arial',serif;
font-size: 2.6em;
margin-left: 470px;
margin-top: 106px;
height: 0px;}
.style63 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 157px;
flex-direction: column;
justify-content: center;}
.artboard4container12row0 {
display: flex;
margin-left: 51px;
width: 854px;
height: 67px;}
.style66 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtluf1.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 67px;
height: 100%;
align-self: stretch;}
.style65 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 3em;
margin-left: 29px;
margin-top: 16px;
height: 0px;}
.style64 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 3.2em;
margin-left: 758px;
margin-top: 16px;
height: 0px;}
.style59 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 1069px;
flex-direction: column;}
.style60 {
background-color: #0086ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-top: 16px;
width: 989px;
height: 134px;
align-self: center;
flex-direction: column;
justify-content: center;}
.artboard4container10btnprimaryfullrow0 {
display: flex;
margin-left: 339px;
width: 90px;
height: 48px;}
.style61 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlu2e.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 42px;
height: 100%;
align-self: stretch;}
.style62 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 3em;
margin-left: 48px;
margin-top: 6px;
height: 0px;}
.artboard4container10row1 {
display: flex;
margin-top: 432px;
width: 790px;
height: 192px;
align-self: flex-end;}
.style58 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtltr8.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 192px;
height: 100%;
align-self: stretch;}
.style56 {
color: #757575;
font-family: 'arial',serif;
font-size: 2.6em;
margin-left: 58px;
margin-top: 86px;
height: 0px;}
.style57 {
color: #202020;
font-family: 'arial',serif;
font-size: 3.2em;
margin-left: 0px;
margin-top: 6px;
height: 0px;}
.style55 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 2.2em;
margin-left: 253px;
margin-top: 150px;
height: 0px;}
.style53 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlta5.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 509px;
width: 29px;
height: 35px;
align-self: center;}
.artboard4container10row2 {
display: flex;
margin-top: 109px;
width: 790px;
height: 192px;
align-self: flex-end;}
.style51 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlt09.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 192px;
height: 100%;
align-self: stretch;}
.style49 {
color: #757575;
font-family: 'arial',serif;
font-size: 2.6em;
margin-left: 58px;
margin-top: 86px;
height: 0px;}
.style50 {
color: #202020;
font-family: 'arial',serif;
font-size: 3.2em;
margin-left: 0px;
margin-top: 6px;
height: 0px;}
.style48 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 2.2em;
margin-left: 253px;
margin-top: 150px;
height: 0px;}
.style46 {
background-image: url('https://designresources.assets.yotako.io/e7upykbh1jmrtlsiq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 509px;
margin-top: 74px;
width: 29px;
height: 35px;}
.style37 {
background-color: #242424;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 160px;
flex-direction: column;}
.style43 {
color: #202020;
font-family: 'arial',serif;
font-size: 3.2em;
margin-left: 662px;
margin-top: 128px;
height: 0px;}
}